<div class="sidebar @StateCssClass">
<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
    <Nodes>
        <DxTreeViewNode NavigateUrl="/" Text="Rechercher"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="grid" Text="Tableau"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="add" Text="Ajouter"></DxTreeViewNode>
        
    </Nodes>
</DxTreeView>
</div>

@code {
    [Parameter] public string? StateCssClass { get; set; }
}